<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>Enviro</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ChartNew.js') }}"></script>

<style> {# included here because relative path #}
@font-face {
    font-family: "My Custom Font";
    src: url("{{ request.script_root }}/static/fonts/fontawesome-webfont.ttf") format("truetype");
}

</style>
</head>

<body class="text-white bg-dark">
<script type="text/javascript">
</script>
<nav class="navbar">
    <div class="navbar-left">
            <button class="btn btn-secondary dropdown-toggle" id="settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">Settings</button>
            <div id="settings_list" class="dropdown-menu" aria-labelledby="settings">
            {% for t in types %}
                <div class="dropdown-item">
                   <input type="checkbox" name="selected" id="setting_{{t}}" {% if  t in selected and selected[t] == 1 %}checked{%endif%}>
                    {{ types[t] }}
                    </div>
            {% endfor %}
            </div>

            <input type="radio" class="btn-check" name="timeperiod" id="hour" autocomplete="off" checked>
            <label class="btn btn-secondary" for="hour">Hour</label>

            <input type="radio" class="btn-check" name="timeperiod" id="hour4" autocomplete="off">
            <label class="btn btn-secondary" for="hour4">4 Hours</label>

            <input type="radio" class="btn-check" name="timeperiod" id="hour12" autocomplete="off">
            <label class="btn btn-secondary" for="hour12">12 Hours</label>

            <input type="radio" class="btn-check" name="timeperiod" id="day" autocomplete="off">
            <label class="btn btn-secondary" for="day">Day</label>

            <input type="radio" class="btn-check" name="timeperiod" id="week" autocomplete="off">
            <label class="btn btn-secondary" for="week">Week</label>

            <input type="radio" class="btn-check" name="timeperiod" id="month" autocomplete="off">
            <label class="btn btn-secondary" for="month">Month</label>

            <input type="radio" class="btn-check dropdown-toggle" name="timeperiod" id="custom" autocomplete="off">
            <label class="btn btn-secondary" for="custom">Custom</label>

            <div id="custom_timepicker" class="dropdown-menu" aria-labelledby="custom">
<div class="container">
    <div class="row ">
        <div class="col align-self-end">
            <div class="d-none align-self-end" id="timepicker">
            <div class="input-group input-group-sm pull-right" id="time_selector1">
                <div class="input-group-prepend"><span class="input-group-text">From</span></div>
                <input type="datetime-local" name="from_timestamp" id="from_date" class="pull-right">
            </div>
            <div class="input-group input-group-sm mr-auto pull-right  " id="time_selector2">
            <div class="input-group-prepend"><span class="input-group-text">To</span></div>
                <input type="datetime-local" name="to_timestamp" id="to_date">
            </div><br>
            <button class="submit_custom btn-sm btn-secondary " id="submit_custom" type="button">Submit</button>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>


    <div class="navbar-right">
        <span class="badge" role="button" id="temperature_details">Temperature:</span>
        <span class="badge badge-primary" id="current_temperature"></span>
        <img width="28" height="28" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII" id="temperature_icon">

        <span class="badge" role="button" id="humidity_details">Humidity:</span>
        <span class="badge badge-primary" id="current_humidity"></span>
        <img width="28" height="28" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII" id="humidity_icon">

        <span class="badge" role="button" id="pressure_details">Pressure:</span>
        <span class="badge badge-primary" id="current_pressure"></span>
        <img width="28" height="28" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII" id="pressure_icon">
        <br>
        <span class="badge" id="sunrise">Sunrise:</span> <span class="badge badge-primary" id="next_sunrise"></span>
        <span class="badge" id="sunset">Sunset:</span> <span class="badge badge-primary" id="next_sunset"></span>
    </div>

</nav>

<div id="maindiv" class="container-fluid max-height scrollable">
    <div class="row no-gutters">
                {% for x in keys %}
                <div class="col-md-auto" id="canvas_div_{{x}}">
                <canvas id="canvas_{{x}}" height="480" width="640"></canvas>
                </div>
                {% endfor %}


        </div>
    </div>

<script>
var script_root = '{{ request.script_root }}';
var img_path = "{{ url_for('static', filename='img/') }}";
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>
